<h1>New Project</h1>
    <div class="card new-project-card">
      <h3> Add a class:</h3>
      <%= simple_form_for (@project) do |f| %>
          <%= f.input :name, placeholder: 'Project Name' %>
          <%= f.input :url, placeholder: 'URL' %>
          <%= f.association :stacks, as: :check_boxes %>
          <%= f.input :description, placeholder: 'Description' %>
          <%= f.input :long_description, placeholder: 'Long Description' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, "Create Project", class: 'btn btn-nice' %>
      <% end %>
    </div>

    <!-- , placeholder: 'Stacks', collection: stacks, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %> -->
